@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

@include xl {}

@include md {}


.add-margin {
  margin-bottom: 1em;
}

.activities {
  position: relative;
  overflow: hidden;
  padding: 0 1em;

  @include md {
    padding: 0 0.5em;

  }

  .timeline-bottom {
    display: flex;
    align-items: center;
    border-left: 1px solid $accent-color;
    padding-left: 15px;
    font-size: 0.7em;
  }

  ul {
    font-size: 0.75em;

    li {
      list-style-type: none;
      position: relative;
      width: 1px;
      background-color: $accent-color;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 20px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $accent-color;
        transform: translateX(-50%);
      }

      .activity {
        min-width: 230px;
        padding: 15px 0 15px 15px;

        time {
          font-size: 0.7em;
        }

        .activity-details {
          display: inline-flex;
          align-items: center;

          * {
            margin-right: 5px;
          }
        }
      }
    }
  }
}