@import '../../styles/variables.scss';

.home {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);


    .box {
        grid-column: span 1;
        grid-row: span 1;
    }

    .portrait {
        grid-column: span 1;
        grid-row: span 2;
    }

    .landscape {
        grid-column: span 2;
        grid-row: span 1;
    }

    .Details {
        padding-top: 20px;
    }

    .charts {
        h4 {
            margin: 0;
        }
    }

    .box-headers {
        display: flex;
        justify-content: space-between;
    }
}