@import "../../styles/variables.scss";

.project {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(180px, auto);

    .project-heading {
        grid-column: span 2;

        padding: 2em;
        background-color: $light-bg;

        .topInfo {
            display: flex;
            align-items: center;

            .status {
                margin: 0 1em;
            }
        }

        .project-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .item {
                margin: 1em 0.5em;
                flex-basis: calc(50% - 1em);

                .itemTitle {
                    margin: 0.5em 0;
                    font-size: small;
                    font-weight: 600;
                }

                .itemValue {
                    display: flex;
                }
            }
        }
    }

    aside {
        grid-column: span 1;

        .activities {
            position: relative;
            padding: 2em;
            background-color: #ffd9da;

            .timeline-bottom {
                display: flex;
                align-items: center;
                border-left: 1px solid $main-color;
                padding-left: 15px;
                font-size: 0.7em;

            }

            ul {
                li {
                    list-style-type: none;
                    position: relative;
                    width: 1px;
                    background-color: $main-color;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 21px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $main-color;
                        transform: translateX(-50%);
                    }

                    .activity {
                        min-width: 200px;
                        padding: 15px;

                        time {
                            font-size: 0.7em;
                        }
                    }
                }
            }
        }
    }

    .project-content {
        grid-column: span 4;
    }

    .charts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}