@import "./variables.scss";
@import "./responsive.scss";
@import "../components/sidebar/sidebar.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 1.5em;
}

.main {
    font-family: 'Inter', sans-serif;
    background-color: $main-bg;
    color: $main-color;
}

.grid-item {
    padding: 20px;
    border-radius: $rounded;
    background-color: $light-bg;
}

.box {
    grid-column: span 1;
    grid-row: span 1;
}

.portrait {
    grid-column: span 1;
    grid-row: span 2;
}

.landscape {
    grid-column: span 2;
    grid-row: span 1;

    @include sm {
        grid-column: span 1;
    }

}

.box-headers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
}

.contentContainer {
    padding: 5px 20px;
    width: 100%;
}

table {
    table-layout: auto;
    width: 100%;
}

h2 {
    margin-bottom: 1em;
}

h4 {
    color: #b0b0b0;
    font-weight: 200;
}