//BG
$main-bg: white;
$soft-bg: #384256;
$light-bg: #b2bbcb6e;
$dark-bg: #222b3c;
$border-color: #dedede;
$accent-color: #ff6e71;

//TEXT
$main-color: #2a3447;
$soft-color: #ddd;
$dark-color: #2a3447;

$rounded: 5px;